.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.j-center {
  justify-content: center;
}
.j-space-between {
  justify-content: space-between;
}
.callender div {
  width: 10%;
  border: 1px solid black;
  margin: 0;
  box-sizing: border-box;
}
img {
  height: 100px;
}